colorama
shutil
subprocess
colorama
re
socket
binascii
time
json
random
threading
queue
pprint
urllib
smtplib
telnetlib
os.path
hashlib
urllib
glob
sqlite3
argparse
marshal
base64
requests
tkinter
multiprocessing
nmap
whois
scapy
fastcli
